/.import
*.import
*.import
src/core/CardViewer/open-book.png.import
*.import
WC.exe
WC.pck
Test/__tests.txt
Test/__tests.txt
Test/_tests.txt
WC.nro
.zip
WC.vpk
scripts/\#script_doc.py\#
Test/recorded_gameplay.txt
*.py#
*.py~
