* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table, th, td {
  border: 1px solid;
}

td {
	padding-top:5px;
	padding-bottom: 5px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  bottom: 100%;
  left: 65%;
  margin-left: -65px; /* Use half of the width (130/2 = 65), to center the tooltip */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.slight_right {
    margin-left:20px;

}

.resize {
    height:140px;
    width:100px;
}

.resize:hover {
    height:419px;
    width:300px;
}

.resize_horizontal {
    height:100px;
    width:140px;
}

.resize_horizontal:hover {
    height:300px;
    width:419px;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
}
ul {
	margin-left:10px;
}
/* Sidebar Styles */
nav {
  width: 250px;
  background-color: #1e1e2f;
  color: #fff;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
}
nav h2 {
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 2px solid #444;
  padding-bottom: 10px;
}
nav a {
  display: block;
  color: #ddd;
  text-decoration: none;
  margin: 10px 0;
  transition: color 0.2s ease-in-out;
}
nav a:hover {
  color: #00bcd4;
}
/* Main Content Styles */
main {
  flex: 1;
  padding: 40px;
  background-color: #f4f4f9;
}
main section {
  margin-bottom: 50px;
}
main h2 {
  color: #333;
  margin-bottom: 10px;
}
main h3 {
  color: #333;
  margin-bottom: 10px;
   margin-top: 10px; 
}
main h4 {
  color: #333;
  margin-bottom: 10px;
    margin-top: 10px;  
}
main p {
  line-height: 1.6;
  color: #555;
}
/* Responsive Design */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }
  nav {
    width: 100%;
    height: auto;
    position: relative;
  }
  main {
    padding: 20px;
  }
}